<form #form="ngForm" (submit)="onSave(form)" class="quote-form">
  <mat-form-field>
    <textarea
      name="title"
      matInput
      placeholder="Enter Quote"
      [(ngModel)]="quote.title"
      required
      #title="ngModel"
    ></textarea>
    <mat-error *ngIf="title.invalid && (title.touched || title.dirty)">
      Please Enter Quote
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      name="author"
      matInput
      placeholder="Enter Author"
      [(ngModel)]="quote.author"
      required
      #author="ngModel"
    />
    <mat-error *ngIf="author.invalid && (author.touched || author.dirty)">
      Please Enter Author
    </mat-error>
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!form.valid"
  >
    Save
  </button>
</form>
