<mat-card class="quotes-card" *ngFor="let quote of quotes">
  <mat-card-header>
    <div mat-card-avatar class="avatar" [ngStyle]="getRandomColor()">
      <span>{{ quote.author.split('')[0] }}</span>
    </div>
    <mat-card-title>{{ quote.author }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ quote.title }}
    </p>
  </mat-card-content>
  <mat-card-actions class="quotes-action">
    <button mat-button color="primary">Edit</button>
    <button mat-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
