<mat-card class="quotes-card" *ngFor="let quote of [].constructor(20)">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <span>{{ 'Mahatma Gandhi'.split('')[0] }}</span>
    </div>
    <mat-card-title>Mahatma Gandhi</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum quae
      libero dolorum repellendus amet corporis unde, beatae facere consequatur
    </p>
  </mat-card-content>
  <mat-card-actions class="quotes-action">
    <button mat-button color="primary">Edit</button>
    <button mat-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
